<a href="https://colab.research.google.com/github/Samarth-DataScience/Bokeh-Forked/blob/branch-3.4/Day_51_python_classes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Create a class representing a car with attributes like make, model, and year. Implement a method in the class to calculate the age of the car.

2. Create a base class 'Shape' with methods to calculate area and perimeter. Derive classes 'Rectangle' and 'Circle' from 'Shape' with their own implementations.

3. Design a class representing a bank account with private attributes for balance and account number. Implement methods for deposit and withdrawal.

4. Write a function to reverse a list.

5. Implement a function to find the second largest element in a list.

6. Write a function to check if a given string is a palindrome.

7. Create a function to count the occurrences of each character in a string.

8. Write a program to concatenate two tuples.

9. Implement a function to find the index of an element in a tuple.

10. Create a function to find the intersection of two sets.

11. Write a program to remove duplicates from a list using sets.

12. Write a function to merge two dictionaries.

13. Implement a program to find the keys with the maximum value in a dictionary.

14. Write a function that takes a list of numbers and returns their sum.

15. Implement a function to check if a number is prime.

16. Use a lambda function to square each element in a list.

17. Write a program to filter even numbers from a list using a lambda function.

18. Use the map function to convert a list of temperatures from Celsius to Fahrenheit.

19. Write a program to capitalize the first letter of each word in a list of strings using map.

20. Implement a program to filter out numbers less than 10 from a list using the filter function.

21. Write a function to filter palindromes from a list of strings.

22. Use the reduce function to find the product of elements in a list.

23. Implement a program to find the maximum element in a list using reduce.

24. Write a function to check if a number is a perfect square.

25. Create a class representing a book with attributes like title, author, and publication year. Implement a method to display information about the book.

26. Design a class representing a geometric shape with methods to calculate area and perimeter. Derive classes for specific shapes like rectangle and circle.

27. Write a program to find the common elements between two lists.

28. Implement a function to remove vowels from a given string.

29. Write a program to sort a list of strings based on the length of each string.

30. Create a function to calculate the factorial of a given number.

**1. Create a class representing a car with attributes like make, model, and year. Implement a method in the class to calculate the age of the car.**

In [ ]:
class car:
  make = 'Toyta'
  model = 'XUV5600'
  year =  2021

  def warranty(self,year):
    age = 2023 - year
    return print(f'Remaining warranty is {age} years')

car = car()
car.warranty(2020)

Remaining warranty is 3 years

**2. Write a function to reverse a list.**

In [ ]:
def list_reverse(l):
  reverse_list = l[::-1]
  return reverse_list

list_reverse([1,2,3,4])

[4, 3, 2, 1]

**3. Implement a function to find the second largest element in a list.**

In [ ]:
def second_largest_num(l):
  reversed_list = sorted(l, reverse = True)
  return reversed_list[1]

second_largest_num([2,45,3,85,4,374,311,21,12,0,1185])

374

**4. Write a function to check if a given string is a palindrome.**

In [ ]:
def palindrome(string_value):
  result = ''
  if string_value[::-1] == string_value:
    return 'Yes the given string is palindrome'
  else:
    return 'Given string is not a palindrome'

print(palindrome('english'))

Given string is not a palindrome

**5. Create a function to count the occurrences of each character in a string.**

In [ ]:
def count_characters(input_string):
    count_dict = {}

    for char in input_string:
        if char in count_dict:
            count_dict[char] += 1
        else:
            count_dict[char] = 1

    return count_dict

# Example usage:
input_string = 'Hello world'
result = count_characters(input_string)

for char, count in result.items():
    print(f"Character '{char}' occurs {count} times.")

Character 'H' occurs 1 times.
Character 'e' occurs 1 times.
Character 'l' occurs 3 times.
Character 'o' occurs 2 times.
Character ' ' occurs 1 times.
Character 'w' occurs 1 times.
Character 'r' occurs 1 times.
Character 'd' occurs 1 times.

**7. Write a program to concatenate two tuples.**

In [ ]:
tuple1 = (1,2,3,4)
tuple2 = (2,3,4,5)

tuple1 += (tuple2)
print(tuple1, type(tuple1))

(1, 2, 3, 4, 2, 3, 4, 5) <class 'tuple'>

**8. Implement a function to find the index of an element in a tuple.**

In [ ]:
tuple_example = (1,2,3,4,5,6,7,8,9)
element = 3
def find_index(element):
  index = tuple_example.index(element)
  return index

print(f'The index of {element} is: {find_index(element)}')

The index of 3 is: 2

**9. Create a function to find the intersection of two sets.**

In [ ]:
def intersection_of_set(set1,set2):
  intersected = set1.intersection(set2)
  return 'intersection of two set is {}'.format(intersected)

set1 = {1,2,3,4}
set2 = {2,3,4,5,6,7}

intersection_of_set(set1,set2)

'intersection of two set is {2, 3, 4}'

**10. Write a program to remove duplicates from a list using sets.**

In [ ]:
class remove_duplicates:
  def duplicates(list1):
    return set(list1)

obj = remove_duplicates.duplicates([1,2,3,4,1,3,5,6,7])
print(obj)

{1, 2, 3, 4, 5, 6, 7}

1. Create a class representing a `Person` with attributes `name` and `age`.
2. Implement a method in the `Person` class to display the person's details.
3. Create a class for a `Circle` with methods to calculate its area and circumference.
4. Implement a `Student` class with attributes `name`, `roll_number`, and `marks`. Include a method to display whether the student has passed or failed.
5. Create a `BankAccount` class with methods for deposit and withdrawal.
6. Implement a `Book` class with attributes `title`, `author`, and `publication_year`.
7. Create a class for a basic `Calculator` with methods for addition, subtraction, multiplication, and division.
8. Implement a `Fraction` class with methods for addition, subtraction, multiplication, and division of fractions.
9. Create a class `Rectangle` with attributes `length` and `width`. Include methods to calculate area and perimeter.
10. Implement a `Car` class with attributes `make`, `model`, and `year`. Include a method to display the car details.
11. Write a class for a basic `Queue` using a list.
12. Create a class for a simple `Employee` with attributes `name`, `employee_id`, and `salary`.
13. Implement a `Point` class representing a point in 2D space. Include a method to calculate the distance from the origin.
14. Write a class for a `Stack` using a list.
15. Create a `Date` class with attributes `day`, `month`, and `year`.
16. Implement a `StringManipulator` class with methods for reversing a string and checking if it is a palindrome.
17. Write a class for a basic `LinkedList`.
18. Create a `DictionaryManager` class with methods to add, remove, and display key-value pairs.
19. Implement a class for a basic `Set` with methods for union, intersection, and difference.
20. Write a class `Time` to represent time in hours and minutes. Include methods to add and subtract times.

**1. Create a class representing a Person with attributes name and age.**

In [ ]:
class Person:
  def __init__(self,x,y):
    self.name = x
    self.age = y

obj1 = Person('Samarth', 23)

**2. Implement a method in the Person class to display the person's details.**

In [ ]:
class Person:
  def __str__(self):
    return 'name: {}, age: {}'.format(self.name, self.age)

print(obj1)

<__main__.Person object at 0x7d826fa13a90>

**3. Create a class for a Circle with methods to calculate its area and circumference.**

In [ ]:
import math

class Circle:
    def __init__(self, radius):
        self.r = radius

    def area(self):
        area_of_circle = math.pi * (self.r**2)
        return area_of_circle

    def circumference(self):
        circumference_of_circle = 2 * math.pi * self.r
        return circumference_of_circle

obj = Circle(7)
print(f'Area of circle: {obj.area():.3f}')
print(f'Circumference of circle: {obj.circumference():.3f}')

Area of circle: 153.938
Circumference of circle: 43.982

**4. Implement a Student class with attributes name, roll_number, and marks. Include a method to display whether the student has passed or failed.**

In [12]:
class Student:
  def __init__(self):
    self.name = 'Samarth'
    self.roll_number = 124
    self.marks = int(0)

  def result(self):
    if self.marks < 33:
      return '{} is Fail.'.format(self.name)
    else:
      return '{} is passed.'.format(self.name)

In [14]:
obj = Student()
obj.marks = 40
obj.result()

'Samarth is passed.'

**5. Create a BankAccount class with methods for deposit and withdrawal.**

In [19]:
class BankAccount:
  def __init__(self):
    self.pin = int()
    self.balance = int()

  def deposit(self):
    amount = int(input('Enter the amount you want to deposit: '))
    self.balance += amount
    return f'Amount {amount} deposited successfully. Total Deposit: {self.balance}'

  def withdrawal(self):
    amount = int(input('Enter the amount you want to withdraw: '))
    self.balance -= amount
    return f'Amount {amount} withdrawn done successfully. Remaining Balance: {self.balance}'

In [20]:
obj = BankAccount()

In [21]:
obj.deposit()

Enter the amount you want to deposit: 5000

'Amount 5000 deposited successfully. Total Deposit: 5000'

In [22]:
obj.withdrawal()

Enter the amount you want to withdraw: 2000

'Amount 2000 withdrawn done successfully. Remaining Balance: 3000'

**6. Implement a Book class with attributes title, author, and publication_year.**

In [47]:
class Book:
  def __init__(self,title,author,year):
    self.title = str(title)
    self.author = str(author)
    self.publication_year = int(year)

    print(f"""title: {self.title}
author: {self.author}
publication_year: {self.publication_year}
          """)

In [48]:
obj = Book('Half Girlfriend', 'Chetan Bhagat', 2011)

title: Half Girlfriend
author: Chetan Bhagat
publication_year: 2011